{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f3b99b4317.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="{%  static 'blog.css' %}">
</head>

<body>
  <style>
  
    #demo {
      max-width: 600px;
      /* Limit the width of the carousel */
      margin: 0 auto;
      margin-top: 40px;
    }

    #carousel {
      margin: 0 auto;
    }

    .carousel-inner .carousel-item img {
      max-height: 500px;
      /* Set the maximum height of the images */
      object-fit: cover;
      /* Maintain aspect ratio while covering the container */
    }

    .background-section {
      background-image: url('../static/believe.jpg');
      background-position: center;
      background-size: cover;
    }
    .list-unstyled:hover{
      color: red;
    }
  </style>



  <div style="background-image: linear-gradient(#C0B77E,#917A58,#2A261B);font-family: 'Roboto Mono', monospace;" class="offcanvas offcanvas-end" id="carousel">
    <!--header-->
    <div class="offcanvas-header ">
      <img class="offcanvas-title " style="width: 80px;" src="{% static 'coc-logo.png' %}" alt="">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <!--body-->
    <div class="offcanvas-body p-4  ">
      <a style="color: white;" class="text-decoration-none " href="{% url 'index' %}">
        <p>Home</p>
      </a>
      <a style="color: white;"  class="text-decoration-none  " href="{% url 'about' %}">
        <p>About</p>
      </a>
      <a  style="color: white;" class="text-decoration-none" href="{% url 'feedback' %}">
        <p>Contact Us</p>
      </a>
      <a style="color: white;"  class="text-decoration-none" href="{% url 'preacher' %}">
        <p>Our Preacher</p>
      </a>
      <a style="color: white;"  class="text-decoration-none" href="{% url 'teaching1' %}">
        <p>Teaching's and Sermon's</p>
      </a>
      <a style="color: white;"  class="text-decoration-none" href="{% url 'bulletin' %}">
        <p>Bulletin</p>
      </a>
      <a style="color: white;" class="text-decoration-none" href="{% url 'first' %}">
        <p>First Timer</p>
      </a>
    </div>

  </div>
  <!--hamburger-menu-->
  <nav class="d-sm-flex p-3 navbar-dark bg-dark ">
    <div class="container">
      <center>
        <span style="font-size: 12px;color: white;" class="" href="#">Opening Hours - 09 : 00AM Every Sunday <span>|</span></span>
       <!-- Search input with search icon -->
     
        <div>
          <a  class=" " href=""><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-brands fa-facebook"></i></button></a>

          <a  class=" " href=""><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-instagram"></i></button></a>

          <a  class=" " href=""><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-youtube"></i></button></a>
     

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
         </div>
        </center>
      
    </div>
    <div class="container-fluid d-none d-sm-block">
      <center>
          <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-secondary"><i class="fa-regular fa-envelope"></i></button> <span style="font-size: 12px;">churchofchristojodu@gmail.com</span></a>
      </center>
  </div>
  
  <div class="container-fluid d-none d-sm-block">
      <center>
          <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-solid fa-phone"></i></button> <span style="font-size: 12px;">Phone: +1 (123) 456-7890</span></a>
      </center>
  </div>
  
</nav>
  <nav class="navbar navbar-expand-md navbar-dark bg-white ">
    <div class="container-fluid mt-1 ">
     <a href="{% url 'index' %}"> <img class="img-fluid" style="width: 50px;margin-left: 20px;" src="{% static 'coc-logo.png' %}" alt=""></a>

      <div style="background-image: url('');" class=" m-0 text-white">
        <button class="btn btn-secondary mt-3 m-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#carousel">
          <i class="fa-solid fa-bars fa-fade"></i>
        </button>
      </div>
    </div>
  </nav>

  <section style="background-image: linear-gradient(#917A58,#2A261B);" class="container-fluid text-center p-3 ">
    <br>
    <div class="container ">
      <img class="img-fluid" src="../static/octbulletin.png" alt="" width="700px">
      <br>
      <br>
      <img class="img-fluid"  src="../static/octbulletin2.png" alt="" width="700px">
      
    </div>
   
  </section>

       <!-- Footer Section -->
       <footer class="footer p-5">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> 9,IGBEHINADUN STREET, OFF ODOZI,OJODU</p>
                <p><i class="fas fa-phone"></i> Phone: +1 (123) 456-7890</p>
                <p><i class="fas fa-envelope"></i> Email: churchofchristojodu <br> @gmail.com</p>
            </div>
            <div class="col-md-4">
              <h4>Quick Links</h4>
              <ul class="list-unstyled text-decoration-none">
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'index' %}">Home</a></li>
                  <br>
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'about' %}">About Us</a></li>
                  <br>
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'feedback' %}">Contact</a></li>
              </ul>
          </div>
                <div class="col-md-4">
                    <h4>Connect With Us</h4>
                    <p>Stay updated with our latest news and updates:</p>
                    <div class="social-icons">
                        <a href="#"><i style="font-size: xx-large;" class="fab fa-facebook"></i></a>
                        <a href="#"><i style="font-size: xx-large;color: red;" class="fab fa-instagram"></i></a>
                        <a href=""><i style="font-size: xx-large;color: red;" class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- End Footer Section -->



</body>
</html>